{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Indian_shop | Shop Page</title>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
            <h5 class="background text-center p-2 my-2 text-dark">Menu</h5>
            <div class="list-group">
                <h6 class="background text-center p-1 my-2 text-dark">Maincategory</h6>
                <!-- shop/All/All  this is for change categories in searchbar-->
                <a href="/shop/All/{{sc}}/{{br}}/" class="btn list-group-item list-group-item-action">All</a>
                {% for i in maincategory %}
                <a href="/shop/{{i.name}}/{{sc}}/{{br}}/" class="btn list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
            <div class="list-group">
                <h6 class="background text-center p-1 my-2 text-dark">Subcategory</h6>
                <!-- shop/All/All  this is for change categories in searchbar-->
                <a href="/shop/{{mc}}/All/{{br}}/" class="btn list-group-item list-group-item-action">All</a>
                {% for i in subcategory %}
                <a href="/shop/{{mc}}/{{i.name}}/{{br}}/" class="btn list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
            <div class="list-group">
                <h6 class="background text-center p-1 my-2 text-dark">Brand</h6>
                <!-- shop/All/All  this is for change categories in searchbar-->
                <a href="/shop/{{mc}}/{{sc}}/All/" class="btn list-group-item list-group-item-action">All</a>
                {% for i in brand %}
                <a href="/shop/{{mc}}/{{sc}}/{{i.name}}/" class="btn list-group-item list-group-item-action">{{i.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-6 col-12">
            <h5 class="background text-center p-2 my-2 text-dark">Shop Section</h5>
            <div class="row ">
                {% for i in data %}
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                    <!--this is for adjustment according your screen -->
                    <div class="card my-2">
                        <!--i.pic1.url that name which you used in models(pic1)-->
                        <img src="{{i.pic1.url}}" height="250px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title ">{{i.name}}</h5>

                            <p class="card-text">
                                &#8377;<!--This code for &#8377 for rupee Sign--><del>{{i.baseprice}}</del><sub>{{i.finalprice}}</sub>
                            </p>
                            <p class="card-text">Discount: {{i.discount}}%</p>
                            <p class="card-text ">Color: {{i.color}}</p>
                            <p class="card-text">Size: {{i.size}}</p>
                            <a href="/single-product/{{i.id}}" class="btn background text-dark w-100">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}